body {
 max-width: 500px;
 margin: auto; 
 padding-top: 25px;
}

.video {
  background-color: lightgray;
}

.replies {
  margin-left: 30px;
}

.user {
  margin-bottom: 5px;
}

.profile {
  border-radius: 50%;
}

.comment .profile {
  float: left;
  width: 50px;
  height: 50px;
}

.reply .profile {
  width: 30px;
  height: 30px;
}